<div class="box-body">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" ng-model="user.username" class="form-control" id="username" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="first-name">First name</label>
        <input type="text" ng-model="user.first_name" class="form-control" id="first-name" placeholder="First name">
    </div>
    <div class="form-group">
        <label for="last-name">Last name</label>
        <input type="text" ng-model="user.last_name" class="form-control" id="last-name" placeholder="Last name">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" ng-model="user.email" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" ng-model="user.password" id="password" placeholder="Password">
    </div>
    <div class="form-group">
        <label>Gender</label>
        <select class="form-control" ng-model="user.stuffuser.gender"
            ng-options="opt.value as opt.label for opt in genderOptions">
        </select>
    </div>
    <div class="form-group">
        <label>Role</label>
        <select class="form-control" ng-model="user.stuffuser.role"
            ng-options="opt.value as opt.label for opt in roleOptions">
        </select>
    </div>
</div>

<div class="box-footer">
    <button type="submit" class="btn btn-primary">Save</button>
</div>