<section class="content-header">
    <h1>User list</h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">User list</h3>

                    <div class="box-tools">
                        <div class="input-group">
                            <input type="text" name="table_search" class="form-control input-sm pull-right"
                                   style="width: 150px;" placeholder="Search">

                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Date joined</th>
                            <th>Last login</th>
                            <th>View</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        <tr ng-repeat="user in users.results">
                            <td>{{user.first_name}}</td>
                            <td>{{user.last_name}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.stuffuser.role}}</td>
                            <td>{{user.date_joined}}</td>
                            <td>{{user.last_login}}</td>
                            <td><a ui-sref="management.users.view({id:user.id})"><i class="fa fa-eye"></i></a></td>
                            <td><a ui-sref="management.users.update({id:user.id})"><i class="fa fa-pencil-square-o"></i></a>
                            </td>
                            <td><a ng-click="deleteUser(user.id, $index)"><i class="fa fa-times"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>