<section class="content-header">
    <h1>Update user</h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Quick Example</h3>
                </div>
                <form role="form" ng-submit="updateUser()">
                    <div ng-include="'templates/pages/users/_form.html'"></div>
                </form>
            </div>
        </div>
    </div>
</section>
