<section class="content-header">
    <h1>View user</h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Quick Example</h3>
                </div>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">First name</label>

                        <div class="col-sm-10">
                            <p class="form-control-static" ng-bind="user.first_name"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Last name</label>

                        <div class="col-sm-10">
                            <p class="form-control-static" ng-bind="user.last_name"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Email</label>

                        <div class="col-sm-10">
                            <p class="form-control-static" ng-bind="user.email"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Role</label>

                        <div class="col-sm-10">
                            <p class="form-control-static" ng-bind="user.stuffuser.role.label"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Gender</label>

                        <div class="col-sm-10">
                            <p class="form-control-static" ng-bind="user.stuffuser.gender.label"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Date joined</label>

                        <div class="col-sm-10">
                            <p class="form-control-static" ng-bind="user.date_joined"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Last login</label>

                        <div class="col-sm-10">
                            <p class="form-control-static" ng-bind="user.last_login"></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>