<div>
    <div class="login-box">
        <div class="login-logo">
            <b>Cafe</b>App
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>

            <form ng-submit="login()">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" ng-model="loginUsername" placeholder="Username"/>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" ng-model="loginPassword" placeholder="Password" />
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>