<div class="box box-solid">
    <div class="box-header with-border">
        <i class="fa fa-text-width"></i>

        <h1 class="box-title">New order</h1>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-7">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Содержимое заказа</h3>
                    </div>
                    <div class="box-body no-padding">
                        <table class="table table-condensed">
                            <tbody>
                            <tr>
                                <th>#</th>
                                <th>Товар</th>
                                <th>Количество</th>
                                <th>Цена, грн</th>
                                <th>Удалить</th>
                            </tr>
                            <tr ng-repeat="product in order.items track by $index">
                                <td ng-bind="$index + 1"></td>
                                <td ng-bind="product.name"></td>
                                <td ng-bind="product.quantity"></td>
                                <td ng-bind="product.price"></td>
                                <td><a ng-click="removeFromOrder($index)" href><i class="fa fa-times"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="col-md-5">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Application Buttons</h3>
                    </div>
                    <div class="box-body">
                        <a ng-click="saveOrder()" class="btn btn-app">
                            <i class="fa fa-floppy-o"></i> Save
                        </a>
                        <a class="btn btn-app">
                            <i class="fa fa-money"></i> Payment
                        </a>
                        <a class="btn btn-app">
                            <i class="fa fa-stop"></i> Cancel
                        </a>
                    </div>
                    <form class="form-horizontal" style="padding-bottom: 7px;">
                        <div class="form-group">
                            <label for="selectTable" class="col-sm-3 control-label">Select table</label>

                            <div class="col-sm-7">
                                <select id="selectTable" class="form-control" ng-model="order.table" ng-options="table.name for table in tables.results">
                                    <option value="">-- choose table --</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" ng-click="back()">
                <div class="info-box grey-box">

                    <span class="info-box-icon bg-navy"><i class="fa fa-arrow-left"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Back</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3" ng-if="categories.results" ng-click="viewCategory(category)" ng-repeat="category in categories.results">
                <div class="info-box grey-box">

                    <img ng-if="category.image" width="90" height="90" ng-src="{{category.image}}">
                    <span ng-if="!category.image" class="info-box-icon bg-olive"><i class="fa fa-folder-open-o"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text" ng-bind="category.name"></span>
                        <span class="info-box-number">1,410</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3" ng-if="products.results" ng-click="addToOrder(product)" ng-repeat="product in products.results">
                <div class="info-box grey-box">

                    <img ng-if="product.image" width="90" height="90" ng-src="{{product.image}}">
                    <span ng-if="!product.image" class="info-box-icon bg-aqua"><i class="fa fa-plus-square-o"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text" ng-bind="product.name"></span>
                        <span class="info-box-number">1,410</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
