<ng-include src="'templates/shared/header-menu.html'"></ng-include>
<ng-include src="'templates/shared/left-menu.html'"></ng-include>

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Dashboard
            <small>it all starts here</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Examples</a></li>
            <li class="active">Blank page</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-10">
                <div ui-view></div>
            </div>
            <div class="col-md-2">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Actions</h3>
                    </div>
                    <div class="box-body no-padding">
                        <ul class="nav nav-pills nav-stacked">
                            <li ui-sref-active="active"><a ui-sref="dashboard.all-orders"><i class="fa fa-file-text-o"></i> All orders</a></li>
                            <li ui-sref-active="active"><a ui-sref="dashboard.create-order"><i class="fa fa-file-text-o"></i> New order</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
