<ng-include src="'templates/shared/header-menu.html'"></ng-include>

<div class="wrapper row-offcanvas row-offcanvas-left">
	<ng-include src="'templates/shared/left-menu.html'"></ng-include>
    <aside class="right-side">
        <section class="content-header">
            <h1>Menu</h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="mailbox row">
                <div class="col-xs-12">
                    <div class="box box-solid">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3 class="box-title">Menu list</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </aside>
</div>