<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="../static/images/avatar.jpg" class="img-circle" alt="User Image"/>
            </div>
            <div class="pull-left info">
                <p ng-bind="currentUser.username"></p>
                <a href="#"><i class="fa fa-circle text-success"></i>Online</a>
            </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul tree-sidebar class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li><a ng-href="#/"><i class="fa fa-dashboard"></i><span>Dashboard</span></a></li>
            <li class="treeview">
                <a href><i class="fa fa-book"></i><span>Menu</span><i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href><i class="fa fa-circle-o"></i>Add category</a></li>
                    <li><a href><i class="fa fa-circle-o"></i>Add vines</a></li>
                    <li><a href><i class="fa fa-circle-o"></i>Add fishes</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href>
                    <i class="fa fa-share"></i><span>Management</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href><i class="fa fa-circle-o"></i>Users<i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a ui-sref="management.users.create"><i class="fa fa-circle-o"></i>Create user</a></li>
                            <li><a ui-sref="management.users.list"><i class="fa fa-circle-o"></i>Users list</a></li>
                        </ul>
                    </li>

                </ul>
            </li>
            <li class="header">LABELS</li>
            <li><a href><i class="fa fa-circle-o text-danger"></i>Important</a></li>
            <li><a href><i class="fa fa-circle-o text-warning"></i>Warning</a></li>
            <li><a href><i class="fa fa-circle-o text-info"></i>Information</a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>