<div class="box-body" ng-controller="GlobalNoticeController">
	<div class="alert alert-danger alert-dismissable" ng-show="messages.errors.length">
        <i class="fa fa-ban"></i>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <span ng-repeat="error in messages.errors">
            <div ng-repeat="(key, val) in error">{{key}}: {{val[0]}}</div>
        </span>
    </div>

    <div class="alert alert-success alert-dismissable" ng-show="messages.success.length">
        <i class="fa fa-check"></i>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <span ng-repeat="success in messages.success">
            <div ng-repeat="(key, val) in success">{{key}}: {{val[0]}}</div>
        </span>
    </div>
</div>